.DS_Store
.idea
.env
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
**/dist
**/bin
**/node_modules
mutagen.*
!mutagen.cloud.yml.dist
!.docker/**/bin

**/@mf-types
**/.cache
.turbo
